<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="http://twitter.com/bcsato" target="_blank">Gyorgy Bartok-Csato</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="http://bcsgy.szoboszlo.hu" target="_blank">http://bcsgy.szoboszlo.hu</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/bcsato/bcsgyapp" target="_blank">https://github.com/bcsato/bcsgyapp</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Training:</div>
                <div class="col-md-10"><a href="mailto:bcsato@gmail.com" target="_blank">Interested in hands-on AngularJS Training? Contact us for details.</a></div>
            </div>
        </div>
    </div>
</div>